body {
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: green;
    font-size: 80px;
}

form {
    text-align: center
}

input {
    font-size: 20px;
    width: 800px;
    margin: 0px 0px 50px 0px;
    padding-left: 8px;
    height: 40px;
    border-radius: 10px;
}

.paginacao {
    display: flex;
    justify-content: center;
}

button {
    background-color: #62EC52;
    border: 1px solid #62EC52;
    margin-right: 5px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 40px;
}

.container_cards {
    display: flex;
    justify-content: center;
}

.card_personagem {
    margin: 35px 0px 35px 0px;
    margin-right: 15%;
    display: inline-block;
    width: 345px;
    height: 150px;
}

.imagem_personagem {
    position: absolute;
    width: 150px;
    height: 150px;
}

.titulo_card {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    margin-top: 08px;
    position: absolute;
    margin-left: 160px;
}

.status_persongem {
    width: 250px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 180px;
    font-size: 18px;

}

.color_status_vivo {
    margin-top: 7px;
    margin-left: -20px;
    position: absolute;
    border-radius: 999999px;
    background-color: #62EC52;
    border: 1px solid #62EC52;
    width: 10px;
    height: 10px;
}

.color_status_desconhecido {
    margin-top: 7px;
    margin-left: -20px;
    position: absolute;
    border-radius: 999999px;
    background-color: gray;
    border: 1px solid gray;
    width: 10px;
    height: 10px;
}

.color_status_morto {
    margin-top: 7px;
    margin-left: -20px;
    position: absolute;
    border-radius: 999999px;
    background-color: red;
    border: 1px solid red;
    width: 10px;
    height: 10px;
}

.hr {
    border-style: solid;
    border-color: #62EC52;
    width: 989px;
    margin-left: 0%;
}

.container_image_rick_morty {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image_rick_morty {
    width: 300px;
    height: 300px;
}

.p {
    padding-top: 125px;
    color: #7C7C7C;
}

.span {
    font-size: 25px;
    font-weight: bold;
    margin-right: 100px;
}

.rodape {
    text-align: center;
    height: 250px;
    background-color: #1F2821;
}

footer {
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
    background-color: #1F2821;
    color:#7C7C7C;
}

.footerNome {
    color: white;
}