.background {
    background-color: #262626;
}

.icon {
    width: 75px;
    height: 75px;
    margin: 10px 0px 0px 10px;
}

.status_persongem {
    width: 250px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 180px;
    font-size: 18px;
}

.color_status_vivo {
    margin-top: 7px;
    position: absolute;
    border-radius: 999999px;
    background-color: #62EC52;
    border: 1px solid #62EC52;
    width: 10px;
    height: 10px;
}

.color_status_desconhecido {
    margin-top: 6px;
    position: absolute;
    border-radius: 999999px;
    background-color: gray;
    border: 1px solid gray;
    width: 10px;
    height: 10px;
}

.color_status_morto {
    margin-top: 6px;
    position: absolute;
    border-radius: 999999px;
    background-color: red;
    border: 1px solid red;
    width: 10px;
    height: 10px;
}

.cabecalho {
    height: 225px;
}

.rodape {
    height: 250px;
    background-color: #1F2821;
}

.cor1 {
    color: #4D9F4B;
}

.titulo {
    color: #105718;
}

.imagem_personagem {
    width: 80%;
    margin-left: 10%;
}

.card_hover {
    width: 75%;
}

.card_hover:hover {
    box-shadow: 10px 10px 10px #4D9F4B;
}


.puff-in-center {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}



.tracking-in-expand-fwd-top {
    -webkit-animation: tracking-in-expand-fwd-top 0.8s linear both;
    animation: tracking-in-expand-fwd-top 0.8s linear both;
}


@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}